*{
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background: rgb(3, 15, 3);
    color: ivory;
}
h1{
    font-size: 47px;
}
 /* Nav Section */
.nav-bar{
    display: flex;
    height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99999;
}
.nav-block{
    display: flex;
    margin-left: 750px;
}
span li{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    position: static;
}
li a {
    color: rgb(189, 189, 161);
    margin-inline-end: 27px;
    font-weight:400;
    font-size: 1em; 
    padding: 8px;    
    text-decoration: none; 
}
.nav-list li{
    position: relative;
}
.nav-list a{
    padding-bottom: 5px;
    position: relative;
}
.nav-list a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;                           /* Distance below the nav */
    height: 2px;
    background-color: #D27D2D;    /* Color of the underline */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.nav-list a:hover::after {
    transform: scaleX(1);
}


 /* Home Section */
 #home{
   display: flex;
    margin-top: 120px;
    margin-right: 0;
    margin-bottom: 100px;
 }
 .intro{
    text-align: left;
    justify-content: left;
    margin-left: 220px;
 }
 .intro h1{
    color: rgb(84, 231, 84);
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
 }
 .intro h3{
    font-weight: 100;
    color: rgb(109, 108, 109);
    font-size: 25px;
    margin-top: 0;
    text-align: left;
 }
 .image img{
    margin-left: 130px;
    margin-right: 70px;
    margin-bottom: 50px;
 }
 .home img{
    width: 410px;
    height: 370px;
    justify-content: center;
 }


 /* About-Me Section */
 #about-me{
    margin-top: 120px;
    margin-left: 0%;
    margin-right: 0;
    margin-bottom: 100px;
 }
 .about-me-top{
    display: flex;
    margin-top: 30px;
    margin-bottom: 200px;
 }
 .about-me-top img{
    width: 20em;
    height: 20em;
    margin-left:150px;
 }
 .greetings{
    margin-left: 70px;
    padding-right: 170px;
 }
 .greetings h2{
    font-size: 3em;
    margin-bottom: 0.5em;
    color: #D27D2D;
 }
 .greetings p{
    font-size: 1.4em;
    margin-top: 0;
    color: #C1E1C1;
 }


 .about-me-middle{             /* about-me-middle */
    margin-bottom: 200px;
    text-align: center;
 }
 .about-me-middle h2{
    font-size: 2.2em;
    color: rgb(84, 231, 84);;
    margin-bottom: 3em;
 }
 .skills{
    display: flex;
    margin-top: 50px;
    justify-content: center;
 }
 .skills div{
    margin-left: 50px;
    margin-right: 50px;
 }
 .skills div img{
    width: 80px;
    height: 67px;
 }


 .about-me-bottom{             /* about-me-bottom */
    margin-bottom: 50px;
    text-align: center;
 }
 .seminars-trainings-block{
    margin-bottom: 100px;
    margin-left: 0;
    display: flex;
 }
 .seminars-trainings-block h2{
   color: rgb(84, 231, 84);
   font-size: 2.2em;
   justify-content: center;
 }
.seminars-block{
   margin-left: 230px;
   font-weight: 200;
}
.seminar-one h4{
   color: #C1E1C1;
   font-weight: 200;
   font-size: 12px;
   margin-bottom: 0;
   font-weight: 900;
}
.seminar-two h4{
   color: #C1E1C1;
   font-weight: 200;
   font-size: 12px;
   margin-bottom: 0;
   font-weight: 900;
}
.seminar-one h5{
   color: #C1E1C1;
   font-weight: 200;
   font-size: 12px;
   margin-top: 0;
}
.seminar-two h5{
   color: #C1E1C1;
   font-weight: 200;
   font-size: 12px;
   margin-top: 0;
}
.seminars-block img{
   width: 300px;
   height: 200px;
}


.trainings-block{
   margin-left: 200px;
}
.training-one h4{
   color: #C1E1C1;
   font-weight: 200;
   font-size: 12px;
   margin-bottom: 0;
   font-weight: 900;
}
.training-one h5{
   color: #C1E1C1;
   font-weight: 200;
   font-size: 12px;
   margin-top: 0;
}
.training-two h4{
   color: #C1E1C1;
   font-weight: 200;
   font-size: 12px;
   margin-bottom: 0;
   font-weight: 900;
}
.training-two h5{
   color: #C1E1C1;
   font-weight: 200;
   font-size: 12px;
   margin-top: 0;
}
.training-three h4{
   color: #C1E1C1;
   font-weight: 200;
   font-size: 12px;
   margin-bottom: 0;
   font-weight: 900;
}
.training-three h5{
   color: #C1E1C1;
   font-weight: 200;
   font-size: 12px;
   margin-top: 0;
}
.trainings-block img{
   width: 370px;
   height: 200px;
}




/* Services Section */
#services{
   margin-top: 120px;
   margin-bottom: 100px;
}
#services h2{
   color: #D27D2D;
   font-size: 2.2em;
   text-align: center;
 }
 #services h3{
   color: rgb(84, 231, 84);
   font-size: 1.5em;
   text-align: center;
 }
 .services-block{
   display: flex;
   margin-top: 50px;
   justify-content: center;
 }
 .service-one h4{
   margin-left: 50px;
   margin-right: 50px;
   justify-content: center;
 }
 .service-two h4{
   margin-left: 50px;
   margin-right: 50px;
   justify-content: center;
 }
 .service-three h4{
   margin-left: 50px;
   margin-right: 50px;
   justify-content: center;
 }
 .service-four h4{
   margin-left: 50px;
   margin-right: 50px;
   justify-content: center;
 }










 .projects-block img{
    width: 100px;
    height: 90px;
 }



 .social-media-block img{
   width:40px;
   height: 40px;
 }
